* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(102, 101, 101);
}
.logo {
    color: #ff7200;
    font-size: 70px;
    font-family: Arial;
    padding-left: 50px;
    float: left;
    padding-top: 15px;
    margin-top: 5px;
}
.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
    font-size: 50px;
}
